@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Readex+Pro:wght@300;400;500&family=Roboto:ital,wght@0,400;1,300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #333;
}
body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Readex Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.autosignin {
    background-color: #fff;
    
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 8px 2px;
    margin: 10px;
    cursor: pointer;
    
  }
  
  .autosignin img {
    width: 30px;
    height: 30px;
   
  }
  
